.ipynb_checkpoints
maxim_tf
models
__pycache__
images
node_modules
package-lock.json
models
cloned-code
.cache
.vscode
SCRATCH.ipynb
jax-modified
notebooks
sample-image.png
test_to_build_tf_model_from_jax.py
tmp
env
models.zip
